/*home.js*/
html{
    background-color: #e4dacc;
}
.hero  {
  background-color: #e4dacc;
}
/*Products.js*/
#root{
    background-color: #e4dacc;
}

.cards{
    overflow: hidden;
    height: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.images{
    height: 250px;
    overflow: hidden;
    background: #fff;
}

.card-img-top{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.images:hover img{
    transform: scale(0.8);
}

.card-body{
    background: #fff;
    padding: 10px;
}
.card-body h5{
    padding: 10px;
    color: blue;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-body p{
    color: red;
    font-size: 20px;
    font-weight: bold;
}
/*Cart.js*/
.buy-amount{
    display: flex;
}
.buy-amount button{
    width: 35px;
    height: 35px;
    outline: none;
    background: none;
    border: 1px solid #ececec;
}
.buy-amount button:hover{
    background-color: #ececec;
}
.buy-amount button svg{
    color: #909090;
}
.buy-amount button svg{
    color: #4f4f4f;
}
.buy-amount #amount{
    width: 40px;
    text-align: center;
    border: 1px solid #ececec;
}